* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin: 2rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

div > .tagline {
    font-size: .8rem;
}

.accordion {
    width: 640px;
    margin: 0 auto;
}

.accordion-heading {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    padding: 1rem 2rem;
    letter-spacing: 1px;
}

.accordion-heading:hover {
    cursor: pointer;
}

.accordion-title {
    font-weight: bold;
}

.accordion-details {
    height: 0;
    overflow: hidden;
    transition: 0.3s all ease;
    margin-left: 2rem;
}

.accordion-details > p {
    font-size: .8rem;
    line-height: 1.2rem;
    padding: 1.2rem 0;
}